<section class="d-flex flex-column vh-100 text-white">
    <div class="mx-auto custom-container p-4 text-center">



        <h1 class="display-6">OOPS</h1>
        <h2 class="display-6">We can't find anything at this page</h2>

        <p class="text-white">
            Please return to the
            <a href="/" aria-label="Go back to the landing page" class="border border-white p-1">home page.</a>
        </p>
    </div>
</section>>

