<section id="testimonials" class="testimonials bg-dark mindfulness-bg-kindness">
    <div class="bg-dark p-5 mx-auto mt-3 mb-3 container carousel-item-sticky-height">
        <h3 class="text-white text-center display-5">A few thoughts from previous students..</h3>
        <br />
        <div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item testimonial-item active">
                    <div class="testimonial-item">
                        <h3>KI</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I cannot recommend Jean's mindfulness course enough. The course gave me so many gifts that have then rippled out to my life in general. The other people on the course were friendly, accepting and open. It became a place to fully be present with one another as well as with myself. Jean gently teaches skills that can easily be transferred into everyday life, not only as a structured home mindfulness practice but also as a way of being, a way of seeing and a way of accepting. These skills have subsequently become a part of my daily life on a variety of levels and I am so grateful to Jean for introducing them to me in such an accepting, holding and kind way.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="carousel-item testimonial-item">
                    <div class="testimonial-item">
                        <h3>LM</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            The 8 week course keeps popping back into my mind as being a time of relaxation and happiness and I cannot believe it is two years since we embarked on it! When times are tough I allow myself to think back to those times sitting in the room in Bowerchalke and how wonderful it felt. Even looking up to the rooks one trees outside the hall, it helps to calm me. It was the first time I have felt so relaxed for as long as I can remember, even my mother commented on how I was becoming more my old self again. Mindfulness really does help stop the mind whirling, and this in turn enables me to focus, something I never thought would be possible!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="carousel-item testimonial-item">
                    <div class="testimonial-item">
                        <h3>JC</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Doing the wonderful Mindfulness Based Stress Reduction course was a real life-enhancer for me. The eight week course was a brilliant start to a gradual process through which I have been able to really learn how to focus on and appreciate 'now'. The techniques I learned on the course are 'freeing' and enable me to 'find myself again' when modern life seems as if it is rushing on at a faster pace than that at which I wish to travel. I will always be grateful that I had the opportunity to be part of something so special.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="carousel-item testimonial-item">
                    <div class="testimonial-item">
                        <h3>JK</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Coaxing my meandering mind towards stability within a shared group endeavour, skilfully guided by a kind teacher: I’m glad to have completed Jean’s MBSR course before lockdown came along. 
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev" style="bottom:unset">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next" style="bottom:unset">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

       
    </div>   
</section>

@code {

}

