@page "/course/week7"
@layout SecondaryLayout

<AuthorizeView>
    <Authorized>
        <article id="leisure" class="mindfulness-bg-leisure content mbs-base-style-font">
            <span role="img" aria-label="walking in woodland"></span>
            <div class="container poem">
                <div class="row" id="row-poem">
                    <div class="col-lg-8 mx-auto">
                        <p>
                            <h1>
                                Leisure
                            </h1>
                        </p>


                        <p>


                            What is this life if, so full of care,


                        </p>


                        <p>
                            We have no time to stand and stare.


                        </p>


                        <p>
                            No time to stand beneath the boughs

                        </p>


                        <p>
                            And stare as long as sheep or cows.


                        </p>


                        <p>
                            No time to see, when woods we pass,

                        </p>


                        <p>
                            Where squirrels hide their nuts in grass.


                        </p>


                        <p>
                            No time to see, in broad daylight,

                        </p>


                        <p>
                            Streams full of stars, like skies at night.


                        </p>


                        <p>
                            No time to turn at Beauty's glance,

                        </p>


                        <p>
                            And watch her feet, how they can dance.

                        </p>


                        <p>
                            No time to wait till her mouth can
                        </p>


                        <p>
                            Enrich that smile her eyes began.

                        </p>


                        <p>
                            A poor life this if, full of care,
                        </p>


                        <p>
                            We have no time to stand and stare.
                        </p>




                        <p>
                            By William Henry Davies

                        </p>

                        <p>

                        </p>

                        <p>

                        </p>



                    </div>
                </div>
            </div>
        </article>

        <section id="welcome" class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>Welcome to week 7</h2>
                        <br />
                        <h2>
                            Life-style choices – how can I best take care of myself?
                        </h2>
                        <h3>
                            Bringing awareness to times of difficulty
                        </h3>
                        <br />
                        <div class="content-bordered-quote">
                            <p>
                                <strong>‘You can’t stop the waves, but you can learn to surf’</strong>
                            </p>
                            <p class="content-bordered-quote-accreditation">
                                Jon Kabat Zinn
                            </p>
                        </div>
                        <br />
                        <p>
                            In Session 7 there will be a continued discussion on communications. We also will begin to prepare for the end of the course by considering the formal and informal practices. The intention is to become attuned to the changing conditions in our lives and to ask ‘What is called for now/today?’ ‘What do I need to take care of myself?’

                        </p>

                        <p>
                            What we actually do with our time, from moment to moment, from hour to hour, from one year to the next, can be a very powerful influence affecting our general well-being and our ability to respond skilfully to the challenges of our lives.

                        </p>

                        <p>
                            You might like to try asking yourself four questions:
                        </p>
                        <h2>
                        </h2>
                        <p>

                            <span class="badge bg-primary">1</span>
                            Of the things that I do and take in, what nourishes me?  What energises me, makes me feel calm and centred?  What increases my sense of actually being alive and present, rather than merely existing? (‘N’ activities).

                        </p><p>



                            <span class="badge bg-primary">2</span>
                            Of the things that I do and take in, what depletes me? What pulls me down, drains my energy, makes me feel tense and fragmented?  What decreases my sense of actually being alive and present, what makes me feel I am merely existing, or worse? (‘D’ activities).
                        </p><p>


                            <span class="badge bg-primary">3</span>
                            Accepting that there are some aspects of my life that I simply cannot change, how can I consciously choose to increase the time and effort I give to the things that nurture me, and to decrease the time and effort I give to the things that deplete me?
                        </p><p>


                            <span class="badge bg-primary">4</span>
                            How might I learn to approach the things that at present I find depleting in a different way?  To practise being fully present with them, even if I find them boring or unpleasant. To bring the same curiosity and attention to them that I did to the raisin, instead of judging them or wishing that they were not there?


                        </p>




                        <h2>
                        </h2>

                        <p>
                            By being present in more of our moments, and making mindful decision about what we really need at each of those moments, we can use activity, and the choices we make about what we take in, to become more aware and alert.

                        </p>

                        <p>
                            This is true both for the regular pattern of our daily lives and for times of difficulty in our lives.  We can use our day-to-day experiences to discover and cultivate activities that nourish us, which we can use as tools to cope with periods of challenge.  Having these tools available means that we will be more likely to persist with them in the face of difficulty and be more aware of our habitual responses at these times.
                        </p>

                        <p>
                            For example, one of the simplest ways to take care of your physical and mental well-being is to take daily physical exercise. As a minimum aim for three brisk 10 minute walks a day and if possible make this on top of the mindful movement, or another form of exercise that suits you.  Once exercise is part of your daily routine, it is readily available as a way of responding to external and internal difficulties should they arise.

                        </p>

                        <p>
                            We can deliberately use our mindfulness skills to inform the choices we make about what we do in everyday life.   Experiment with taking a mindful pause and from this space of connected awareness asking:

                        </p>


                        <p>
                            What do I need for myself right now?
                        </p>

                        <p>
                            How can I best take care of myself right now?

                        </p>

                        <p>
                            You could try some of the following suggestions:

                        </p>

                        <p>

                            <span class="badge bg-dark">1</span>

                            <strong>Be kind to your body</strong>
                            <br />

                            Have a nice hot bath, have a nap, treat yourself to some of your favourite food without feeling guilty and/or have your favourite hot drink.

                            Engage in enjoyable activities.

                            Go for a walk (maybe with the dog or a friend), visit a friend, do your favourite hobby, do some gardening, take some exercise, phone a friend, spend time with someone  you like, cook a meal, go shopping, watch something funny or uplifting on television, read something that give you pleasure, listen to music that makes you feel good.

                            Be aware of barriers to pleasure.

                            Be aware of ‘killjoy thoughts’ that tell you you won’t enjoy a pleasure you have planned, that you don’t deserve it, that you should be enjoying it more, thoughts that distract you form fully experiencing what you are doing.

                        </p>

                        <p>
                            <span class="badge bg-dark">2</span>
                            <strong>Doing Something That Gives You A Sense of Satisfaction, Achievement or Control</strong>
                            <br />

                            Clean the house, clear out a cupboard or a draw, catch up with letter writing, do some work, pay a bill, do something that you have been putting off doing , take some exercise.

                            Be aware of over-high standards and ‘it should be different’ thinking.  They may make it hard for you to feel you have achieved anything worthwhile.  Notice thoughts like ‘I should be doing this better/faster/more easily’, recognise them for what they are, and let them be.

                            When we are faced with difficult times it may well be helpful to break tasks down into smaller steps and only tackle on step at a time.  Make sure you treat yourself kindly and with respect, and congratulate yourself whenever you have completed a task or a part of a task.

                        </p>

                        <p>
                            <span class="badge bg-dark">3</span>
                            <strong>Act Mindfully</strong>
                            <br />



                            When we are faced with difficulties or are feeling stressed our minds tend to be preoccupied with worries. We may be going over and over things that have happened in the past, trying to make sense of why we feel the way we do, or anxiously wondering about the future.  The end result is that our attention is not really on what we are doing.  We are lost in our heads, rather than focused on what is happening right here and now.  This means that activities that might nourish us become depleting.
                            Notice if your mind has been hijacked by thoughts or feelings that tend to take you away from being present.  Instead, have an intention to focus your entire attention on what you are doing right now.  Keep yourself in the very moment you are in, put your mind in the present (e.g. ‘Now I am walking down the stairs… now I can feel the banister beneath my hand… now I am walking into the kitchen… now I am turning on the light…’).  Be aware of your breathing as you do other things, be aware of the contact of your foot with the floor as you walk.

                            The more powerful your thoughts and feelings, the more difficult this can be. With practise, you will find that your capacity to be more fully present in each moment will grow.

                        </p>

                        <p>
                            <span class="badge bg-dark">4</span>
                            <strong>Be open minded</strong>
                            <br />

                            Whatever you choose treat it as an experiment.  Do not pre-judge how well you will feel afterwards. Keep an open mind about whether doing this will be helpful in any way.

                        </p>

                        <p>
                            <span class="badge bg-dark">5</span>
                            <strong>Aim for a broad range</strong>
                            <br />


                            Consider a range of ways to take care of yourself and do not limit yourself to a favourite few.  Sometimes trying new behaviours can be interesting in itself.
                        </p>

                        <p>
                            <span class="badge bg-dark">6</span>
                            <strong>Do not expect miracles</strong>
                            <br />


                            Carry out what you have planned to do as best you can.  Putting extra pressure on yourself by expecting a single activity to alter things dramatically is probably unrealistic.

                        </p>

                        <p>
                            <span class="badge bg-dark">7</span>
                            <strong>When things feel difficult…</strong>
                            <br />
                            The mindfulness skills we have been developing day by day are particularly relevant to these times.
                            <div class="content-bordered-quote">
                                <p>
                                    <strong>
                                        ‘Don’t start weaving your parachute when you are just about to jump out of the aeroplane…’
                                    </strong>
                                </p>
                                <p class="content-bordered-quote-accreditation">
                                    (Joh Kabat Zinn).
                                </p>
                            </div>
                            When we are under pressure we are more likely to revert to old habits of mind. The more ‘tuned in’ you are to yourself and the world about you the wiser your decisions, choices, and actions will be.  This is particularly helpful when you are facing challenges.  At these times… try asking yourself:
                            ‘What do I need to help me get through this time?’

                            <br />
                            <div class="content-bordered-quote">
                                <p>
                                    <strong>
                                        ‘We have all been placed on this earth to discover our own path and we will never be happy if we live someone else’s idea of life’.

                                    </strong>
                                </p>
                                <p class="content-bordered-quote-accreditation">
                                    By James van Praagh

                                </p>
                            </div>
                            <br />

                        </p>


                    </div>
                </div>
            </div>

        </section>

        <section id="welcome" class="session-content home-practice-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>Home practice for the week following session 7</h2>
                        <p>
                            <span class="badge bg-dark">1</span>
                            From all the different forms of formal mindfulness practice that you have experienced during the course, settle on the practice(s) that you intend to use on a regular, daily basis for the next few weeks (up to and after the end of the course).  Try your practice with and without recordings. Also practice informally by being as aware and awake as possible throughout the day.  Look for ways to make the practice your own.  Record your reactions if you wish.
                        </p>
                        <p>
                            <span class="badge bg-dark">2</span>
                            Practise informally when you are not doing the above formal practices by being as aware and awake as possible throughout the day.
                        </p>
                        <p>
                            <span class="badge bg-dark">3</span>
                            Spend some time finding out what are the warning signs that you are feeling stressed and that things are difficult.
                        </p>
                        <p>
                            Using the <strong>Stress Indicators Form</strong> if you wish, develop a list of the range of unhelpful actions and strategies that you find yourself slipping into at difficult times.  Having an awareness of these will help you to spot them when they are present.  If you want to, include those people you share your life with, in a collaborative effort to notice and respond rather than to react to these signs.  Continue with developing a list of the range of helpful actions and strategies that you already know are skilful responses to difficult times, or that might be possibilities to experiment with in the future.  For example, you might put on a mindfulness practice recording; remind yourself what you have learnt on the course that was helpful; take frequent breathing spaces leading into a review or a considered action; go for a walk; read something that will ‘reconnect’ you with your ‘wiser’ mind.
                        </p>

                        <div class="content-bordered-quote">
                            <p>
                                <strong>
                                    ‘It may be helpful to remind yourself that what you need at times of stress and difficulty is no different from what you have practised many times throughout the course’.


                                </strong>
                            </p>
                            <p class="content-bordered-quote-accreditation">
                                Jon Kabat Zinn


                            </p>
                        </div>
                    </div>

                    @* <div class="col-lg-12 mx-auto">
                    <h2>Body Scan</h2>

                    <audio controls="controls" class="audio-player">
                    <source src="mp3/Jean-Body-Scan-HQ.mp3" type="audio/mpeg" />
                    </audio>

                    <br />
                    <br />
                    </div>*@
                </div>
            </div>


            <div class="container">

                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>Week 7 Practice Documents</h2>
                        <ul>
                            <li>

                                <a href="/LessonAssets/Week7/Week7-Stress-Indicators-Form.docx" download>Week7 Stress Indicators Form</a>
                            </li>



                        </ul>
                    </div>
                </div>




            </div>
        </section>
    </Authorized>
    <NotAuthorized>
        <section class="d-flex flex-column vh-100 text-white">
            <div class="mx-auto custom-container p-4 text-center">
                <h1 class="display-6">You need to be logged in to access this content</h1>
                <p class="text-white">
                    Please
                    <a href="authentication/login" class="border border-white p-1">log in</a>
                    or return to the <a href="/" aria-label="Go back to the landing page" class="border border-white p-1">home page.</a>
                </p>
                @*  <LoginDisplay></LoginDisplay> *@
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>




@code {

   
}
