@page "/course/week3"
@layout SecondaryLayout

<AuthorizeView>
    <Authorized>
        <article id="week3-poem" class="mindfulness-bg-dawn content mbs-base-style-font">
            <span role="img" aria-label="the breaking dawn"></span>
            <div class="container poem">
                <div class="row" id="row-poem">
                    <div class="col-lg-8 mx-auto" style="text-align:center">
                        <p>
                            <h1>
                                Coming Back to the Present
                            </h1>
                        </p>

                        <p>
                            The breeze at dawn has secrets to tell you.
                        </p>
                        <p>
                            Don’t go back to sleep.
                        </p>

                        <p></p>

                        <p>
                            You must ask for what you really want.
                        </p>
                        <p>
                            Don’t go back to sleep.
                        </p>

                        <p>
                            People are going back and forth across the doorstep.
                        </p>
                        <p>
                            Where the two worlds touch.
                        </p>

                        <p></p>
                        <p>
                            The door is round and open.
                        </p>
                        <p>
                            Don’t go back to sleep.
                        </p>

                        <p></p>
                        <p style="text-align:right">
                            <br />
                            <i>from <u>The Essential Rumi</u></i>
                        </p>





                    </div>
                </div>
            </div>
        </article>


        <section id="week3-mindful-breath-and-movement" class="mindfulness-bg-movement-1 session-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h2>Welcome to week 3 </h2>
                        <br />
                        <h2>
                            Mindfulness Of The Breath and The Body In Movement
                        </h2>
                        <p>
                            ‘Use the breath as an anchor to tether your attention to the present moment.  Your thinking mind will drift here and there, depending  on the currents and winds moving in the mind, at some point, the anchor line grows taut and brings you back.’  John Kabat – Zinn (1994).
                            <br />
                            There is pleasure and power in being present.  Attending to and investigating the ways things are in the body and mind in the present moment through the practice of attention on the breath and mindful movement. In this session we will be exploring several distinct yet interrelated formal meditation practices.

                        </p>

                        <h2>
                            The formal practice this week will include
                        </h2>
                        <p>
                            Sitting meditation with awareness of breathing and postural guidance
                            <br />
                            Group sharing of home practice experiences (body scan, sitting meditation, mindful routine activities).
                            <br />
                            Walking meditation
                            <br />
                            Mindful movement
                            <br />
                            Pleasant Events Calendar
                            <br />
                            Closing meditation
                            <br />

                        </p>
                        <h2>
                            Focusing on the breath

                        </h2>
                        <p>
                            Focusing on the breath brings you back to this very moment, the here and now.  The breath is always available as an anchor and a haven to come back to no matter where you are or what is happening.
                            Focusing on the breath can change your experience by connecting you with a space and potentially broader perspective from which to view things.

                        </p>
                        <h2>
                            Basics of sitting

                        </h2>
                        <p>
                            It helps to adopt an erect and dignified posture, with your head, neck, and back aligned vertically.  The aim is to adopt the physical counterpart of the inner attitudes of self-reliance, self-acceptance, patience, and alert attention that we are cultivating during the practice of meditation.
                            If you decide to use a chair, choose one that has a straight back and that allows your feet to be flat on the floor.  If possible, sit away from the back of the chair so that your spine is self-supporting.  See figure 1 below.


                        </p>
                        <p>
                            <img src="../img/week3/sitting-1.jpg" class="img-fluid" style="margin-left:auto;margin-right:auto;display:block;border-style:solid;padding: 1em;" />

                        </p>

                        <p>
                            If you choose to sit on the floor, do so on a firm thick cushion (or pillow folded over once or twice) which raises your buttocks off the floor three to six inches.  To sit in the position in figure 2 below draw one heel in close to the body and drape the other leg in front of it.

                        </p>
                        <p style="">
                            <img src="../img/week3/sitting-2.jpg" class="img-fluid" style="margin-left:auto;margin-right:auto;display:block;border-style:solid;padding: 1em;" />

                        </p>
                        <p>
                            Figure 3 below involves kneeling with the cushion between the feet.
                        </p>

                        <p style="">
                            <img src="../img/week3/sitting-3.jpg" class="img-fluid" style="margin-left:auto;margin-right:auto;display:block;border-style:solid;padding: 1em;" />
                        </p>

                        <p>
                            Alternatively, a basic kneeling stool resting on a meditation mat may be preferred. See figure 4 below.
                        </p>

                        <p style="">
                            <img src="../img/week3/sitting-4.jpg" class="img-fluid" style="margin-left:auto;margin-right:auto;display:block;border-style:solid;padding: 1em;" />

                        </p>

                        <h2>
                            Mindful Movement <span class="badge bg-secondary rounded-pill">Yoga</span>

                        </h2>
                        <p>
                            Many of us are reluctant to exercise because it involves discomfort or strain, or requires special equipment or others to work out with, or going to a special place to do it. If this has been the case for you, then mindful hatha yoga may be just the practice you have been waiting for.
                        </p>
                        <p>
                            The word ‘yoga’ means ‘yoke’ in Sanskrit, and implies a harnessing together and a unifying of body and mind.  Yoga is a form of meditation, and when done regularly, is a mind and body discipline for people who wish to move towards greater levels of health.
                        </p>
                        <p>

                            Hatha yoga consists of postures done mindfully and with awareness of breathing. They are easily learned and have dramatic effects if practised regularly. The ones we are doing are extremely gentle.  Regular practise will increase your musculoskeletal flexibility, strength, and balance, as well as help you to entre states of deep relaxation and awareness.  Many people experience a greater serenity about life in general, improved circulation, a firmer, trimer figure, and less illness as a result.
                        </p>
                        <p>

                            In practising yoga, you are advised to practice in the same way that you do when meditating; namely, maintaining moment by moment awareness, and not striving to get somewhere, just allowing yourself to be as you are, and letting go of any judging of yourself.   Move slowly and consciously.  Mindful yoga involves exploring your limits but not pushing beyond them.  Instead, you play with dwelling at the boundary and breathe. This requires honouring your body and the ‘messages’ it gives you about when to stop and when to avoid doing a posture, because of your particular condition.
                        </p>
                        <p>

                            Standing yoga requires no special equipment and can be done almost anywhere.  You can learn it from video recordings, and obtain ideas for postures from yoga books.  Experiment mindfully!  Lying down yoga requires a mat and enough space to stretch your arms up and out. Emphasis is on mindfulness and approaching one’s current limits with gentleness.  We are learning to dwell at the boundary without overstepping and investigating what is sensitive and wise, moment to moment.  Avoid any postures they feel would cause them injury or a setback and, to experiment with caution and care when in doubt.
                        </p>
                        <p>

                            If at all possible attend a class with a qualified hatha yoga teacher who can correct your positioning and support you to find alternative or more friendly postures; for example, if you have an injury or experience discomfort in a particular part of your body.

                        </p>

                        <h2>
                            Mindful Movement <span class="badge bg-secondary rounded-pill">Qigong</span>

                        </h2>
                        <p>
                            Qigong is from an ancient Chinese system of movement for health.  The practice consists of a simple series of repeated movements, aimed at utilising the mind with the body, and increasing health in both body and mind.  This is done by gently working on the different systems and organs of the body, and by freeing energy to flow throughout the body, and into our systems from the earth below us and the air around us, nourishing and clearing or minds and bodies.  It is important to bring as full as an awareness as possible to the sensations and movements in your body while doing these exercises, including awareness of breathing.
                        </p>
                        <p>

                            Many of the movements will be done standing up, but can also be adapted to a sitting position, and some can be done lying down.  For this practice, it is helpful to keep the body loose while moving – softening the joints, and imagining energy flowing all around the body.  Only do each exercise the number of times that feels comfortable for you. Listen to your body and be sensitive to how far your body wants to go, and stop when it signals you to do so.  It is fine to simply imagine yourself doing the movements.  Most importantly, be mindful of how your body is feeling right now, and do these movements in a gentle way that respects your body’s current limits.
                        </p>

                        <h2>
                            Mindful Movement <span class="badge bg-secondary rounded-pill">Walking</span>
                        </h2>
                        <p>
                            One simple way of bringing awareness into your daily life is to practice walking meditation.  As you might guess, this means bring your attention to the actual experience of walking as you are doing it.  It means simply walking and experiencing your body walking.
                        </p>
                        <p>

                            One of the things that you find out when you have been practising mindfulness for a while is that  nothing is quiet as simple as it appears.   This is as true for walking as it is for anything else.  For one thing, we carry our mind with us when we walk, so we are usually absorbed in our own thoughts to one extent or another. We are hardly ever just walking, even when we are ‘just going for a walk.’
                        </p>
                        <p>

                            Walking meditation involves intentionally attending to the experience of walking itself. It involves focusing on the sensations in your feet or your legs or, alternatively, feeling your whole body moving.  You can also integrate awareness of your breathing with the experience of walking.
                        </p>
                        <p>

                            We begin by placing our attention and becoming fully aware as one foot contacts the ground, as the weight shifts on to it, as the other foot lifts and moves ahead and then comes down to make contact with the ground in its turn.  As with all the other methods we have been exploring, when the mind wanders away from the feet or the legs or the feeling of the body walking, we simply bring it back when we become aware that it has wandered.  To deepen our concentration, we do not look around at the sights, but keep our gaze focused in front of us.  There is no need to look at our feet, they know how to walk.  It is an internal observation that is being cultivated, just exploring the felt sensations of walking, nothing more.
                        </p>
                        <p>

                            When we practise walking meditation, we are not trying to get anywhere.  It is sufficient just to be with each step, realising that you are just where you are.  The intention is to be there completely. This does not mean that your mind will go along with your intention just to be with each step for very long without a concerted effort to keep it focused. You might soon condemn the whole exercise, calling it stupid, useless, idiotic.  Alternatively, your mind might start to play games; becoming distracted by the pace, by balancing, or have you looking around or thinking of other things.  As your mindfulness grows stronger, you will become more aware of this activity, and return your attention to the feet, legs and body.  It is a good idea to start with awareness of the feet and legs and practise that for a while, then, when your concentration is stronger, you can expand the field of awareness to include a sense of your whole body walking.
                        </p>
                        <p>

                            You can practise mindful walking at any pace.  We sometimes do it very slowly, so that one step might take a minute.  This allows you to really be with each movement from moment to moment.  We also practise it at a more natural pace.  You can practise being aware even when moving quickly; you will find that you will not be able to be with each step so easily, but you can shift your awareness instead to a sense of your body as a whole moving through space.  So even rushing, you can be mindful, if you remember to engage.
                        </p>
                        <p>

                            There are probably circumstances of one kind or another in your life in which you have to be walking.  These can be wonderful occasions to bring awareness to your walking and thereby transform it from a dull, mostly unconscious chore into something rich and nurturing.  So often, when we have routine errands to do, we feel impelled to rush from one to the next until we get them all done.  This can be exhausting, even depressing, because of the monotony of what we are doing, or if the places we go are the same of places where we find ourselves all the time.  The mind craves something new.  If we bring our awareness to our walking during these routine tasks, it will short-circuit the automatic pilot mode and make our routine experiences more vivid and actually more interesting, and leave us calmer and less exhausted at the end.
                        </p>
                        <p>

                            In summary, any time you find yourself walking is a good time to practise mindfulness of walking.  Sometimes it is good to find an isolated spot and do it formally as well, back and forth, step by step, moment by moment, walking gently on the earth, in step with your life, being exactly where you are.

                        </p>



                        <p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row" style="text-align:center">
                    <div class="col-lg-8 mx-auto">

                        <p>
                            ‘The easiest way to relax is to stop trying to make things different.
                            <br />
                            Struggle comes from not accepting what is present.’


                        </p>

                        <p>
                            ‘The key skill we are developing in mindfulness is to maintain awareness in the moment, nothing else’.

                        </p>

                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">

                        <h2>
                            Being Mindful and Aware

                        </h2>
                        <p>
                            When we are very young, we were much more physical and aware of our sensations.
                        </p>
                        <p>

                            As we have got older, most of us have become less grounded and aware. We are more likely to live life in ‘automatic pilot’, half asleep, lost in the past, worrying about the future.
                        </p>
                        <p>

                            Practising being more grounded in our body and the world around us helps us to wake up to our lives.  Being more aware of our physical sensations and our mind states allows us to be more present, in the here and now.
                        </p>




                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">

                        <h2>

                            Coming to our Senses!


                        </h2>
                        <p>
                            Mindfulness is about paying attention, deliberately, and without judgement, as best you can, to what is going on in your body and your mind and in the world around you.

                            <br />

                            <h4><span class="badge bg-secondary rounded-pill">YOUR BODY</span></h4>
                            <ul>
                                <li>
                                    Looking
                                </li>
                                <li>
                                    Listening
                                </li>
                                <li>
                                    Feeling sensations
                                </li>
                                <li>
                                    Tasting
                                </li>
                                <li>
                                    Smelling
                                </li>
                            </ul>


                            <h4><span class="badge bg-secondary rounded-pill">THE WORLD AROUND YOU</span></h4>
                            <ul>
                                <li>
                                    Looking
                                </li>
                                <li>
                                    Listening
                                </li>
                                <li>
                                    Touching
                                </li>
                                <li>
                                    Tasting
                                </li>
                                <li>
                                    Smelling
                                </li>
                            </ul>

                            <h4><span class="badge bg-secondary rounded-pill">YOUR MIND</span></h4>
                            <ul>
                                <li>
                                    Becoming aware of your thinking
                                </li>
                                <li>
                                    Becoming aware of your emotions
                                </li>
                                <li>
                                    Touching
                                </li>
                                <li>
                                    Tasting
                                </li>
                                <li>
                                    Smelling
                                </li>
                            </ul>


                        </p>



                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto" style="border-style:solid; border-radius:5px;padding:1em;text-align:center">

                        <h2>
                            Autobiography in Five Chapters
                        </h2>
                        <br />
                        <p>
                            <span class="badge bg-primary rounded-pill">a</span>
                            <br />
                            I walk down the street.<br />
                            There is a deep hold in the pavement.<br />
                            I fall in.<br />
                            I am lost. I am hopeless.<br />
                            It isn’t my fault.<br />
                            It takes forever to find a way out.<br />
                        </p>
                        <br />
                        <p>
                            <span class="badge bg-primary rounded-pill">b</span>
                            <br />
                            I walk down the same street.<br />
                            There is a deep hole in the pavement.<br />
                            I pretend I don’t see it.<br />
                            I fall in again.<br />
                            I cannot believe I am in the same place.<br />
                            But it isn’t my fault.<br />
                            It still takes a long time to get out.<br />
                        </p>
                        <br />
                        <p>
                            <span class="badge bg-primary rounded-pill">c</span>
                            <br />
                            I walk down the same street.<br />
                            There is a deep hole in the pavement.<br />
                            I see it is there.<br />
                            I still fall in. It is a habit.<br />
                            My eyes are open.<br />
                            I know where I am.<br />
                            It is my fault.<br />
                            I get out immediately.<br />

                        </p>
                        <br />
                        <p>
                            <span class="badge bg-primary rounded-pill">d</span>
                            <br />
                            I walk down the same street.<br />
                            There is a deep hole in the pavement.<br />
                            I walk around it.<br />

                        </p>
                        <br />
                        <p>
                            <span class="badge bg-primary rounded-pill">e</span>
                            <br />

                            I walk down a different street.<br />

                        </p>
                        <br />
                        <p>
                            <i>by Partia Nelson.</i>




                        </p>



                    </div>
                </div>
            </div>
        </section>


        <section id="week-3-home-practice" class="session-content home-practice-bg">


            <div class="container ">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h2>
                            Home Practice Following Week 3
                        </h2>
                        <p>
                            1. On alternate days do the BODY SCAN practice, and the MINDFUL MOVEMENT practice OR the WALKING MEDITATION.

                            The point of movement is to provide a direct way to connect with the body. The body is a place where the emotions often get expressed, under the surface and without our awareness. Thoughts and emotions also affect our bodies. Working with our bodies directly gives us a place to experience more of ourselves, and to connect our experience of body, feelings and thoughts.  The movements activate the body and mind, provide a direct way to connect with awareness of the body, and can dispel tiredness.

                            Record any reactions on your record form if you wish to.

                            If you have any back problems or other health issues that may cause difficulties, make your own decision as to which (if any) of these exercises to do, take good care of your body. You can make a mindfulness practise out of any movements you do, by bringing full attention to them.

                        </p>

                        <p>
                            2. At a different time practice 10-15 minutes of MINDFULNESS OF BREATHING each day.  Record your reaction on the record form if you wish.

                        </p>

                        <p>
                            3. Complete the UNPLEASANT EXPERIENCES DIARY (one entry per day). This is an opportunity to become really aware of the thoughts, feelings and body sensations that are around during an unpleasant event each day at the time they are occurring.  Notice and record the detail of the experience as soon as you can; for example, put the actual words or images that thoughts came in, and the precise nature and location of bodily sensations.

                            <ul>
                                <li>What are the unpleasant events that ‘pull you off centre’, or ‘get you down’ (not matter how big or small)?</li>
                                <li>What do you not like looking at?</li>
                                <li>Notice when you move into ‘automatic pilot’. Under what circumstances does this occur?</li>
                            </ul>

                            Hare in your awareness an intention to ‘capture’ the moments of your day.

                        </p>

                        <p style="border-style:solid;border-radius:5px;padding:1em">
                            <!-- border -->
                            ‘One’s actions are to come out of an achieved stillness, not to be a mere rushing on’.

                            <br />
                            <span style="text-align:right">
                                <i><u>D.H. Lawrence</u></i>
                            </span>

                        </p>


                        <p>

                            <img src="../img/week3/isometric.jpg" class="img-fluid" />


                        </p>

                    </div>
                </div>
            </div>


            <div class="container">

                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h2>Week 3 Practice Documents</h2>
                        <ul>
                            <li>

                                <a href="/LessonAssets/Week3/Week 3 General Practice log.docx" download>Week 3 General Practice Log</a>
                            </li>

                            <li>

                                <a href="/LessonAssets/Week3/Week 3 Unpleasant Experiences Diary.docx" download>Week 3 Unpleasant Experiences Diary</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">

                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h2>Week 3 Practice Videos</h2>
                        <ul>
                            <li>

                                <a href="https://youtu.be/5jrl0SD8yII" target="_blank">Mindful Walking</a>
                            </li>

                            <li>

                                <a href="https://youtu.be/ijHyb-XPOag" target="_blank">Mindful Yoga</a>
                            </li>

                            <li>

                                <a href="https://youtu.be/uruZEdfMkuA" target="_blank">Mindful Movement</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>



        </section>
    </Authorized>
    <NotAuthorized>
         <NotAuthorized>
            <section class="d-flex flex-column vh-100 text-white">
                <div class="mx-auto custom-container p-4 text-center">
                    <h1 class="display-6">You need to be logged in to access this content</h1>
                    <p class="text-white">
                        Please
                        <a href="authentication/login" class="border border-white p-1">log in</a>
                        or return to the <a href="/" aria-label="Go back to the landing page" class="border border-white p-1">home page.</a>
                    </p>
                    @*  <LoginDisplay></LoginDisplay> *@
                </div>
            </section>>
        </NotAuthorized>
    </NotAuthorized>
</AuthorizeView>



@code {

}
