@page "/course/week8"
@layout SecondaryLayout


<AuthorizeView>
    <Authorized>
        <article id="Kindness" class="mindfulness-bg-kindness content mbs-base-style-font">
            <span role="img" aria-label="walking in woodland"></span>
            <div class="container poem">
                <div class="row" id="row-poem">
                    <div class="col-lg-8 mx-auto">
                        <p>
                            <h1>
                                Kindness
                            </h1>
                        </p>
                        <p>
                            Before you know what kindness really is
                        </p>
                        <p>
                            you must lose things,
                        </p>
                        <p>
                            feel the future dissolve in a moment
                        </p>
                        <p>
                            like salt in a weakened broth.
                        </p>
                        <p>
                            What you held in your hand,
                        </p>
                        <p>
                            what you counted and carefully saved,
                        </p>


                        <p>
                            all this must go so you know
                        </p>


                        <p>
                            how desolate the landscape can be
                        </p>


                        <p>
                            between the regions of kindness.
                        </p>


                        <p>
                            How you ride and ride
                        </p>


                        <p>
                            thinking the bus will never stop,
                        </p>


                        <p>
                            the passengers eating maize and chicken
                        </p>


                        <p>
                            will stare out the window forever.
                        </p>

                        <br />
                        <p>
                            Before you learn the tender gravity of kindness,
                        </p>


                        <p>
                            you must travel where the Indian in a white poncho
                        </p>


                        <p>
                            lies dead by the side of the road.
                        </p>


                        <p>
                            You must see how this could be you,
                        </p>


                        <p>
                            how he too was someone
                        </p>


                        <p>
                            who journeyed through the night with plans
                        </p>


                        <p>
                            and the simple breath that kept him alive.

                        </p>

                        <br />
                        <p>
                            Before you know kindness as the deepest thing inside,
                        </p>


                        <p>
                            you must know sorrow as the other deepest thing.
                        </p>


                        <p>
                            You must wake up with sorrow.
                        </p>


                        <p>
                            You must speak to it till your voice
                        </p>


                        <p>
                            catches the thread of all sorrows
                        </p>


                        <p>
                            and you see the size of the cloth.
                        </p>

                        <br />

                        <p>
                            Then it is only kindness that makes sense anymore,
                        </p>


                        <p>
                            only kindness that ties your shoes
                        </p>


                        <p>
                            and sends you out into the day to post letters and buy bread,
                        </p>


                        <p>
                            only kindness that raises its head
                        </p>


                        <p>
                            from the crowd of the world to say
                        </p>


                        <p>
                            It is I you have been looking for,
                        </p>


                        <p>
                            and then goes with you everywhere
                        </p>


                        <p>
                            like a shadow or a friend.



                        </p>


                        <br />



                        <p>
                            By Naomi Shihab Nye


                        </p>

                        <p>

                        </p>

                        <p>

                        </p>



                    </div>
                </div>
            </div>
        </article>

        <section id="welcome" class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2 class="">Welcome to week 8</h2>
                        <br />
                        <h2>
                            Keeping Your Mindfulness Alive!

                        </h2>
                        <div class="content-bordered-quote">
                            <p>
                                <strong>
                                    ‘Mindfulness provides a simple but powerful route for getting ourselves unstuck, back in touch with our own wisdom and vitality…  The most important point is to be really yourself and not try to become anything that you are not already…  being in touch with your deepest nature, and letting it flow out of you unimpeded.’
                                </strong>
                            </p>
                            <p class="content-bordered-quote-accreditation">
                                Jon Kabat Zinn (1994)
                            </p>
                        </div>
                        <br />
                        <p>
                            The advantages of awareness, acceptance, and mindfully responding to situations rather than immediately running off pre-programmed ‘automatic’ reactions have been a recurring theme throughout this course.

                        </p>

                        <p>
                            Acceptance may often be the springboard to some form of skilful action directed at achieving change in the inner or outer worlds.  However, there are also situations and feelings that it may be very difficult, or actually impossible, to change.   In these situations, there is the danger that by carrying on trying to solve an unsolvable problem or by refusing to accept the reality of the situation one is in; one may end up ‘banging one’s head against a brick wall’, exhausting oneself, and actually increasing one’ sense of helplessness and depression.  In these situations, you can retain some sense of dignity and control by making a conscious, mindful, decision not to attempt to exert control and to accept the situation as it is, if possible, with a kindly attitude to the situation and your reactions to it.  Choosing not to act is much less likely to increase a sense of helplessness an stress, than bing forced to give up attempts at control after repeated failures.

                        </p>

                        <p>
                            The so called ‘Serenity Prayer’ asks for:

                        </p>

                        <div class="content-bordered-quote">
                            <p>
                                <strong>

                                    ‘Grace to accept with serenity the things that cannot be changed, courage to change the things which must be changed, and the wisdom to know the difference’.
                                </strong>
                            </p>
                            <p class="content-bordered-quote-accreditation">
                                Reinhold Niebuhr
                            </p>
                        </div>


                        <p>


                        </p>
                        Where do we find this grace, this courage, and this wisdom?  At some level, we <strong>already have all of these qualities.</strong> Our task is to realise them; to make them real, and our way is none other than moment by moment mindful awareness.

                        <p>



                        </p>
                        <div class="content-bordered-quote">
                            <p>


                                <h2>Use Your Umbrella</h2>

                            </p><p>
                                A young woman, studying in India, undertook to develop love, kindness, and goodwill through her meditation practice.  Sitting in her small room, she would fill her heart with loving kindness for all beings.  Yet each day, as she went to the bazaar to gather her food, she would find her loving kindness sorely tested by one shopkeeper who would daily subject her to unwelcome caresses. One day she could stand no more and began to chase the shopkeeper down the road with her upraised umbrella. To her mortifications she passed her teacher who was standing by the side of the road observing this spectacle.  Shame faced she went to stand before him, expecting to be rebuked for her anger.

                            </p><p>
                                ‘What you should do, her teacher kindly advised her, is to fill your heart with loving kindness, and with as much mindfulness as you can muster, hit this unruly fellow over the head with your umbrella’.

                            </p><p>
                                Sometimes that is what we need to do.  It would be easy enough to hit the man over the head with the umbrella.  The difficult part is to do it with all the loving kindness in our heart.  That is our real practice.

                            </p>
                            <p class="content-bordered-quote-accreditation">
                                Adapted from Christina Feldman and Jack Kornfield:  Stories of the Spirit, Stories of the Heart. (2001).
                            </p>
                        </div>
                        <p>


                        </p><p>




                        </p>




                        <div class="content-bordered-quote">



                            <p>

                                <h2>Daily Mindfulness</h2>

                            </p><p>
                                When you first wake up in the morning before you get out of bed, bring your attention to your breathing.  Observe 5 mindful breaths.
                            </p><p>
                                Notice changes in your posture.  Be aware of how your body and mind feel when you move from lying down to sitting, to standing, to walking.  Notice each time you make a transition from one posture to the next.
                            </p><p>
                                Whenever you hear a phone ring, a bird sing, a train pass by, laughter, a car horn, the wind, the sound of a door closing, use any sound to be like the bell of mindfulness. Really listen, being present and awake.
                            </p><p>
                                Throughout the day, take a few moments to bring your attention to your breathing.  Observe 5 mindful breaths.
                            </p><p>
                                Whenever you eat or drink something, take a minute and breathe.  Look at your food and realise that the food was connected to something which nourished its growth.  Can you see the sunlight, the rain, the earth, the farmer, the truck driver in your food?  Pay attention as you eat, consciously consuming this food for your physical health. Bring awareness to seeing your food, smelling your food, tasting your food, chewing your food, and swallowing your food.
                            </p><p>
                                Notice your body while walking or standing.  Take a moment to notice your posture.  Pay attention to the contact of the ground under your feet.  Feel the air on your face, arms, and legs as you walk. Are you rushing?
                            </p><p>
                                Bring awareness to listening and talking.  When listening can you listen without agreeing or disagreeing, liking or disliking or planning what you will say when it is your turn? When talking can you just say what you need to say without overstating or understating? Can you notice how your mind and body feel?
                            </p><p>
                                Whenever you are waiting in a queue, use this time to notice standing and breathing.  Feel the contact of your feet on the floor and how your body feels.   Bring attention to the rising and falling of your abdomen.  Are you feeling impatient?
                            </p><p>
                                Be aware of any tightness in your body throughout the day.  Breathe in to them and as you exhale let go of excess tension.  Is there tension stored anywhere in your body? For example, your neck, shoulders, stomach, jaw, or lower back.  If possible stretch or do mindful exercise once a day.
                            </p><p>
                                Focus your attention on daily activities, such as brushing your teeth, brushing your hair, washing up, putting on your shoes, doing your job.  Bring mindfulness to each activity.
                            </p><p>
                                Before you go to sleep at night, take a few minutes and bring your attention to your breathing.  Observe 5 mindful breaths.

                            </p>
                            <p class="content-bordered-quote-accreditation">


                                Adapted from Saki Santorelli.  University of Massachusetts Medical School.


                            </p>

                        </div>

                    </div>
                </div>
            </div>

        </section>


        <section class="content">
            <div class="container">
                <div class="row">
                    <div id="videoDiv2">
                        <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
                            <source src="../img/week8/breathe.mp4" type="video/mp4" />

                        </video>
                        <div id="videoMessage2" class="">

                            <h2>
                                The Future
                            </h2>
                            <p>
                                Remember Jon Kabat-Zinn’s advice to weave your parachute every day, rather than leave it to the time you have to jump from the plane!
                            </p><p>
                                Decide, right now, what your regular pattern of practice will be over the next weeks, and tick to it as best you can.
                            </p><p>
                                Also, remember the breathing space; regular practice provides a way of ‘checking in with yourself’ a few times a day, let it also be your first response in times of difficulty, stress, of unhappiness.
                            </p><p class="breathing">
                                Whatever happens keep breathing!

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </Authorized>
    <NotAuthorized>
        <section class="d-flex flex-column vh-100 text-white">
            <div class="mx-auto custom-container p-4 text-center">
                <h1 class="display-6">You need to be logged in to access this content</h1>
                <p class="text-white">
                    Please
                    <a href="authentication/login" class="border border-white p-1">log in</a>
                    or return to the <a href="/" aria-label="Go back to the landing page" class="border border-white p-1">home page.</a>
                </p>
                @*  <LoginDisplay></LoginDisplay> *@
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>



@code {

   
}
