@page "/course/week6"
@layout SecondaryLayout

<article id="wonder" class="mindfulness-bg-wonder content mbs-base-style-font">
    <span role="img" aria-label="crowded city street"></span>
    <div class="container poem">
        <div class="row" id="row-poem">
            <div class="col-lg-8 mx-auto">
                <p>
                    <h1>
                        Wonder
                    </h1>
                </p>


                <p>
                    

                    I wonder what would happened if
                </p>


                <p>
                    I treated everyone like I was in love with them
                </p>


                <p>
                    Whether I liked them or not
                </p>


                <p>
                    And whether they respond or not
                </p>


                <p>
                    And no matter what they say or do to me,
                </p>


                <p>
                    And even if I see things in them
 </p>


                <p>
                </p>


                <p>
                    That are ugly, twisted, petty,
                </p>


                <p>
                    Cruel, vain, deceitful, indifferent,
                </p>


                <p>
                    Just accept
                </p>


                <p>
                    All that and turn my attention to some small
                </p>


                <p>
                    Weak, tender, hidden part, and keep my eyes on that
 </p>


                <p>
                    Until it shines like a beam of light
                </p>


                <p>
                    Like a bonfire I can warm my hands by and trust to burn all the waste away
                </p>


                <p>
                    Which is not, never was, my business to meddle with.
                </p>


                <p>
                    By Derek Tasker
                </p>

                <p>
                    
                </p>

                <p>
                    
                </p>

                

            </div>
        </div>
    </div>
</article>

<section id="welcome" class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Welcome to week 6</h2>
                <br />
                <h2>
                    Stressful communications and interpersonal mindfulness
                </h2>
                <br />
                <div class="content-bordered-quote">
                    <p>
                        <strong>‘A great deal of our suffering in life is in relationship to other people… We meditate alone, but live our lives with other people… (In meditation) the personal and interpersonal paths are profoundly connected… how easily and even elegantly they can be interwoven’</strong>
                    </p>
                    <p class="content-bordered-quote-accreditation">
                        Gregory Kramer ‘Insight Dialogue: The interpersonal path to freedom’
                    </p>
                </div>
                <br />
                <p>
                    Session 6 involves developing capacity to self-regulate and cope more effectively with stress. What does your Stressful Communications Diary from the last week’s home practice tell you about your own patterns of difficult communication with others? From your growing awareness of what you do when talking to others, what strategies can you develop to make your communications less stressful, more satisfying, and more effective? How can you use the mindfulness skills you have been practising to help you in this?
                </p>

                <p>
                    Bringing mindfulness into talking with others starts with awareness; knowing your feelings. Once you know what your feelings are, you can practice expressing your feelings accurately, finding ways around your own barriers to doing this. The more you pay attention to what happens in your communication with others, the more you will develop a greater awareness of your own interpersonal communication patterns, and begin to explore ways of changing these if you decide to do so.
                </p>

                <p>
                    You have been developing and practising skills through the whole mindfulness course; skills of awareness, of stepping back and taking a wider perspective, of letting go of judgements about yourself and your experiences. As you start to practise these skills when communicating with others, you are likely to find yourself staying more aware and balanced in relationships, especially under conditions of acute or chronic stress. Pressures to go back to old patterns can come from the strong expectations of others, past habits of emotional expression or suppression, and the ways you present yourself to others in everyday life. Based on the skills that you have been developing through the entire course, you can cultivate the capacity to be more flexible and to recover more rapidly during challenging interpersonal situations.
                </p>
                <h2>
                    The formal practice for this week will include:
                </h2>
                <p>
                    <ul>
                        <li>
                            Standing mindful movement

                            
                        </li>
                        <li>
                            Sitting Meditation

                           
                        </li>
                        <li>
                            Difficult communications exercise

                            
                        </li>
                        <li>Closing meditation</li>
                    </ul>

                </p>


                <h2>
                    The Mountain Meditation
                </h2>

                <p>
                    When it comes to meditation, mountains have a lot to teach us. The image of the mountain held in the mind’s eye and in the body, can refresh our memory of why we are sitting, and of what it really means to dwell in the realm of non-doing.
                </p>

                <p>
                    Picture the most beautiful mountain or mountains you know or can imagine. Notice the overall shape, the lofty peak or peak, the base rooted in the rock of the earth’s crust, the sloping sides. Note how massive it is, how unmoving, how beautiful.
                </p>

                <p>
                    See if you can bring the mountain into you own body; you become the mountain. Your head becomes the lofty peak, your shoulders and arms the sides of the mountain, your buttocks and legs the solid base rooted to your cushion on the floor or to your chair.
                </p>

                <p>
                    Notice any emotions you are feeling and your mood, as though they are the weather around the mountain. How is your weather right now; sunny and calm, or stormy with lashing rain, is it icy or warm? Allow your personal weather to be the way it is, noticing if it interferes, changes or stays the same throughout this meditation.
                </p>

                <p>
                    Fully become the breathing mountain, unwavering in your stillness, completely what you are; beyond words and thought, a centred rooted, unmoveable presence.
                </p>

                <p>
                    As the light changes, as night follows day and day follows night, the mountain just sits, simply being itself. It remains still as the seasons flow into one another and as the weather changes moment by moment by moment. Storms may come, but still the mountain sits.
                </p>

                <p>
                    Calmness abiding all change.
                </p>

                <p>
                    By Jon Kabat Zinn, Mindfulness Meditation in Everyday Life
                </p>
                           


                <div class="content_bordered-div">

                   
                        <!-- Border-->
                        <img src="../img/week6/mountgain-meditation.webp" class="img-fluid" alt="Mountain range"/>
                    
                </div>

         
               
                <br />

                <h2>Mindful Communication</h2>
                <p>
                    Other people can be a big source of stress in our lives. Our relationship with others gives us unending opportunities for mindful practice and so reducing ‘people stress’. Psychological stress arises from the interaction between us and the world, so we need to take responsibility for our part in relationships with people who ‘cause us stress’; responsibility for our own perceptions, thoughts, feelings, and behaviour. If we react unconsciously when we are having a problem with another person, just as with other forms of stress, this usually makes matters worse in the long run.
                </p>

                <p>
                    The deeper automatic impulse to fight-or-flight influences our behaviour even when our lives are not in danger. When we feel our interest or social status is threatened, we can react aggressively to protect our position before we know it. Alternatively, we may act submissively, often at the expense of our own views, feelings, and self-respect. Since we also have the ability to reflect, think and be aware, we have a range of other options available to us. We need to purposefully cultivate these other options. They do not just magically surface, especially if our way of relating interpersonally has been dominated in the past by automatically defensive or aggressive behaviour. We can choose to respond, rather than being carried away by a reaction.
                </p>

                <p>
                    Even when we are feeling threatened, angry, or frightened, we have the potential to improve our relationships dramatically if we bring mindfulness into the domain of communication itself. To communicate is to unite, to have a meeting or union of minds. This does not necessarily mean

                    agreement. It does mean seeing the situation as a whole, and understanding the other person’s view as well as one’s own.
                </p>

                <p>
                    When we are totally absorbed in our own feelings, view and agenda, it is virtually impossible to have a genuine communication. When we react by feeling personally threatened, it is easy to draw battle lines, and have the relationship degenerated into ‘us’ against ‘them’, making the possibility of communication very difficult. When we lock into certain restricted mind-sets, we cannot go beyond the nine dots and perceive the whole system of which we and our views are only a part.
                </p>

                <p>
                    When both sides in a relationship expand the domain of their thinking and are willing to consider each other’s point of view and the system as a whole, then extraordinary new possibilities emerge, as imaginary, but all too limiting boundaries in the mind dissolve.
                </p>

                <p>
                    Even when one party takes responsibility for thinking of the whole system and the other does not, the system is altered and new possibilities for conflict resolution and understanding may emerge. This response requires us to be centred, awake and mindful. We become grounded in our breathing and in seeing the situation as a whole without reacting totally out of fear, even if fear is present as it is likely to be in our real-life stressful encounters with people. It means showing that we are willing to see things from the other person’s perspective, that we are receptive, and willing to look and listen. This allows the other person to maintain their integrity, and for both to become partners rather than adversaries, whether the other person wants to or not.
                </p>

                <p>
                    In this position, though you do not know what will happen next, you have many options. By maintaining your centre, you are in control of yourself and much less vulnerable to harm. If you are committed to meeting each moment mindfully, with as much calmness and acceptance as you can muster and with a sense of your own integrity and balance, new and more harmonious solutions often come to mind as you need them.
                </p>

                <p>
                    The patience, wisdom and firmness that can come out of a moment of mindfulness in the heat of a stressful interpersonal situation yield fruit almost immediately, because the other person usually senses that you cannot be intimidated or overwhelmed. He or she will feel your calmness and self-confidence and will probably be drawn toward it because it embodies inner peace. When you are willing to be secure enough in yourself to listen to what other people want and how they see things without constantly reacting, objecting, arguing, fighting, resisting, making yourselves right and them wrong, they will feel heard, welcomed, accepted. This feels good to anybody. They will then be much more likely to hear what you have to say too, maybe not right away, but as soon as emotions calm. There will be more chance for communication and a meeting of minds, and an acknowledging and coming to terms with differences. In this way, your mindfulness practice can have a healing effect on your relationships.
                </p>

                <p>
                    The most effective way to communicate with others is by being assertive (rather than either submissive or aggressive). This comes from giving yourself and others equal rights, and respecting both your own and other’s boundaries. Assertiveness involves clear, calm thinking and respectful negotiation, where each person is entitled to their opinion. It requires you to have an awareness of your feelings as feelings, so you can break out of the passive or hostile modes that so automatically rear up when we feel put upon or threatened.
                </p>

                <p>
                    The first step towards becoming more assertive is to practise knowing how you are actually feeling. This may not be so easy, especially if you have been conditioned all your life to believe that it is wrong to have certain kinds of thoughts or feelings, which can lead to unconscious suppression of feelings, or alternatively to feeling guilty about what you are feeling. The first lesson in assertiveness is that your feelings are simply your feelings without letting them create more problems for you by becoming passive or aggressive. When being assertive, it is very helpful to say how you are feeling or seeing things by making ‘I’ statements rather than ‘you’ statements. ‘I’ statements convey information about your feelings and views, rather than saying things like ‘You make me so angry’ or ‘You are always making demands on me’. Can you see that ‘you’ statements are saying that the other person is in control of your feelings; handing power over your feelings to the other person? The alternative is to say something like ‘I feel angry when you do that’. This is more accurate. It says how you feel in response to something. This leaves the other person room to hear what you are saying about how you see and feel without feeling blamed or attacked, and without being told s/he has more power than s/he does.
                </p>

                <p>
                    The most important part of effective communication is to be mindful of your own thoughts, feelings and speech as well as the whole situation. Most of the time, cultivating this approach will resolve potential conflicts and create greater harmony and mutual respect. In the process, you are much more likely to get what you want and what you need from your encounters with other people and so are they!
                </p>
              
            </div>
        </div>
    </div>

</section>

<section id="welcome" class="session-content home-practice-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Home practice for the week following session 6</h2>
                <ul>
                    <li>1.Alternate sitting meditation with mindful movement or yoga and body scan.</li>
                    <li>2.Start bringing awareness to what you are taking into your body and into your mind from the outside world, noticing what is truly nourishing and what is not; this can include interactions with other people, food, drink, reading, television, internet, where you go and what you do etc.</li>
                </ul>
            </div>
            <div class="col-lg-12 mx-auto">
                <h2>Body Scan</h2>

                <audio controls="controls" class="audio-player">
                    <source src="mp3/Jean-Body-Scan-HQ.mp3" type="audio/mpeg" />
                </audio>

                <br />
                <br />
            </div>
        </div>
    </div>

</section>




@code {

   
}
