@page "/course/week5"
@layout MyBreathingSpaceV6Layout
@inject IJSRuntime JS


<AuthorizeView>
    <Authorized>
        <article id="the-guest-house" class="mindfulness-bg-the-guest-house content mbs-base-style-font">
            <span role="img" aria-label="windows looking out into a garden"></span>
            <div class="container poem">
                <div class="row" id="row-poem">
                    <div class="col-lg-8 mx-auto">
                        <p>
                            <h1>
                                The Guest House
                            </h1>
                        </p>


                        <p>
                            This being human is a guest-house.
                        </p>

                        <p>
                            Every morning a new arrival.
                        </p>

                        <p>
                            A joy, a depression, a meanness, some momentary awareness comes as an unexpected visitor.
                        </p>

                        <p>
                            Welcome and entertain then all!
                        </p>

                        <p>
                            Even if they are a crowd of sorrows,
                        </p>

                        <p>
                            who violently sweep your house empty of its furniture.


                        </p>

                        <p>
                            Still, treat each guest honourably.
                        </p>

                        <p>
                            He may be clearing you out for some new delight.
                        </p>

                        <p>
                            The dark thought, the shame, the malice.
                        </p>

                        <p>
                            Meet them at the door laughing and invite them in.
                        </p>

                        <p>
                            Be grateful for whoever comes,
                        </p>

                        <p>
                            because each has been sent
                        </p>
                        <p>
                            as a guide from beyond.
                        </p>
                        <p>
                            By Rumi
                        </p>

                    </div>
                </div>
            </div>
        </article>

        <section id="welcome" class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>Welcome to week 5</h2>
                        <br />
                        <h2>
                            Coping with stress: using mindfulness to respond instead of react
                        </h2>
                        <br />
                        <div class="content-bordered-quote">
                            <p>
                                <strong>‘The overall tenor of mindfulness practice is gentle, appreciative, and nurturing. Another way to think of it would be heartfulness’</strong>
                            </p>
                            <p class="content-bordered-quote-accreditation">
                                Jon Kabat-Zinn, Mindfulness Meditation for Everyday Life.
                            </p>
                        </div>
                        <br />
                        <p>
                            This session marks the halfway point in the course. We continue to explore using mindfulness as a response to everyday stressful situations and examine the value of the utility of mindfulness in learning to stop, step back and see more clearly and objectively. In doing so we place ourselves in a better position to make informed choices about how to respond, reducing our need to instinctively react. By being more consciously and mindfully aware of our reactions we are likely to find that we can recover more quickly from stressful situations.
                        </p>
                        <h2>
                            The formal practice for this week will include:
                        </h2>
                        <p>
                            <ul>
                                <li>
                                    Opening meditation
                                </li>
                                <li>Standing mindful movement</li>
                                <li>Sitting meditation (45 minutes to include a the 5 objects of awareness and increased silence)</li>
                                <li>Closing meditation</li>
                            </ul>

                        </p>


                        <h2>
                            Reacting verses Responding
                        </h2>

                        <p>
                            The basic guideline in this practice is to become mindfully aware of whatever is most predominant in our moment-by-moment experience. So, if the mind is being repeatedly drawn to a particular place, to particular thoughts, feelings or bodily sensations, we deliberately and intentionally take a gentle and friendly awareness to that place. That is the first step.
                        </p>
                        <p>
                            The second step is to notice, as best we can, how we are relating to whatever is arising in that place. Often we can be with an arising thought, feeling or bodily sensation, but in a non-accepting, reactive way. If we like it, we tend to hold onto it, we become attached. If we do not like it because it is painful, unpleasant, or uncomfortable in some way, we tend to contract, to push away out of fear, irritation or annoyance. Each of these responses is the opposite of acceptance.
                        </p>
                        <p>

                            The easiest way to relax is, first, to stop trying to make things different. Accepting experience means simply allowing space for whatever is going on, rather than trying to create some other state. Through acceptance we settle back into awareness of what is present. We ‘let it be’, we simply notice and observe whatever is already present. This is the way to relate to experiences that have a strong pull on our attention.
                        </p>
                        <p>

                            If you notice your awareness keeps being pulled away from the breath (or wherever we are deliberately focusing our attention) to particular sensations in the body, associated physical


                            discomfort, emotions or feelings, the first step is to become mindfully aware of those physical sensations, to deliberately move your focus of awareness to the part of the body where those sensations are strongest. The breath provides a useful vehicle to do this; for example, when you practise the body scan you can take a gentle and friendly awareness to that part of the body by ‘by breathing into’ that part of the body on the in-breath and ‘breathing out’ from it on the out-breath.
                        </p>
                        <p>
                            Once your attention has moved to the bodily sensations and you have what is pulling at your attention in the field of awareness, you can use soothing self-talk to say ‘It’s okay. Whatever it is, it’s okay. Let me feel it’. Then stay with the awareness of these bodily sensations and your relationship with them, breathing with them, accepting them, letting them be. It may be helpful to repeat. ‘It’s okay. Whatever it is, it’s okay. Let me feel it.’ Using each out-breath to soften and open to the sensations you become aware of.

                            Acceptance is not resignation. Acceptance allows us, as a vital first step, to becoming fully aware of difficulties, and then, if appropriate, to respond in a skilful way, rather than to react, in a knee-jerk fashion, by automatically running some of our old (often unhelpful) strategies for dealing with difficulties.
                        </p>


                        <div class="content_bordered-div">

                            <p>
                                <!-- Border-->
                                The easiest way to relax is to stop trying to make thing different. One’s struggle is from not accepting what is present.
                            </p>
                        </div>

                        <br />
                        <h2>
                            Coping with Stress: Responding v Reacting
                        </h2>

                        <div class="content-bordered-quote">
                            <p style="">
                                <img src="../img/week5/Coping-With-Stress-Reacting-v-Responding.png" id="stress-reaction-cycle-2" class="img-fluid zoomable-image" alt="the stress reaction cycle" />
                            </p>

                            <p>
                                <!-- img -->
                                from Jon Kabat Zinn, ‘Full Catastrophe Living, Using the Wisdom of Your Body and Mind to Face Stress, Pain and Illness’ (1994)
                            </p>
                        </div>

                        <br />

                        <div class="content-bordered-quote">

                            <p>
                                <strong>Between stimulus and response there is a space. In that space is our power to choose our response. In our response lies our growth and our freedom. </strong>
                            </p>

                            <p class="content-bordered-quote-accreditation">
                                By Viktor Frankl
                            </p>



                        </div>
                        <br />

                        <h2>Responding to Stress</h2>
                        <p>
                            The first and important step in breaking free from a lifetime of stress reactivity is to be mindful of what is actually happening while it is happening. This creates an alternative pathway, known as the stress response (see the right side of the figure above) and is distinguishable from the automatic stress reaction (see the left side of the figure above). In the stress response, we use mindfulness to create strategies to cope with stress in

                            healthy ways. Moment-to-moment awareness allows us to exert control and influence the flow of events at those very moments when we are most likely to react on automatic pilot, and where before we would have plunged into the fight-or-flight reaction, and hyperarousal.
                        </p>
                        <p>
                            As soon as you bring awareness to what is going on in a stressful situation, you are not on automatic pilot anymore, and have already changed the situation dramatically. Just becoming aware takes only a split second, but it gives you a range of options for influencing what will happen next. You now do not have to supress your thoughts and feelings associated with heightened arousal to prevent yourself from going out of control. You can actually allow yourself to feel threatened or fearful or angry or hurt, and to feel the tension in your body. You can easily recognise these agitations for what they are; thoughts, feelings and sensations.
                        </p>
                        <p>
                            We have been training mind and body to respond in this way in the formal meditation practice. Only thought regular training could our calmness and awareness start to become strong and reliable enough to help us respond in a balanced, imaginative way when we are stressed. The capacity to respond mindfully develops each time we experience discomfort or pain or strong feelings during meditation, and we just observe them and work at letting them be the way they are, without reacting to them. We have learned that control can come out of inner calmness, acceptance and openness. We do not have to struggle with thoughts or feelings, or try to force things to be how we want them to be. We can decide to do things differently.
                        </p>
                        <p>
                            When you bring awareness to stressful moments, you might see if you are overreacting to the situation, and remind yourself to try letting go of your own self-limited view to see what happens. Making the effort to meet the situation with calmness and clarity might help things become harmonious. When you experiment in this way, you may be surprised at how many things that used to ‘push your buttons’ no longer get you aroused. They may no longer even seem stressful to you, not because you have given up or have been defeated, but because you have become more relaxed and trusting of yourself. Responding in this way under pressure is an empowering experience. What do you have to lose by trying it?
                        </p>
                        <p>
                            How do we consciously cultivate the stress response in daily life? The same way cultivate mindfulness in the formal meditation practice: moment-by-moment, grounding ourselves in our body and our breathing. When your buttons are pushed or you find yourself feeling stressed, you might try bringing your awareness to your face and shoulders as they tense up, to your heart beginning to pound, to how your stomach is feeling, or to whatever you might notice about how your body feels at this moment.
                        </p>
                        <p>
                            See if you can be aware of your feelings of anger or fear or hurt as you feel them arising in you. You might even say to yourself, ‘This is it’ or ‘Here is a stressful situation’ or ‘Now is the time to tune into my breathing and centre myself’. It takes practise to catch stress reactions as they are happening, but do not worry, if you lead a typical life, there will be lots of opportunities to practice! It is unrealistic to expect yourself to respond mindfully in every situation, but just by trying to bring a larger view to each moment, you are transforming the stressors into challenges and pathways for growth.
                        </p>
                        <p>
                            The place to start is with your breathing. If you can manage to bring your attention to your breathing for even the briefest moment, it will set the stage for facing that moment and the next one mindfully. The breath itself is calming, especially when we can turn into the belly. It is like an old friend; it anchors us, gives us stability, like the bridge piling anchored in bedrock as the river flows around it. The breath reconnects you with calmness and awareness whenever you lose touch. It brings you to an awareness of your body in that moment, including any increase in muscle tension. It can also remind you to check your thoughts and feelings. Perhaps you will see how reactive they are. Perhaps you will question their accuracy. Maintaining your own centre in the face of stress helps you to look for the whole context, and recover your inner balance more quickly if it is thrown off initially by your reaction.
                        </p>
                        <p>
                            When you channel your energies in this way, you will experience a quicker recovery of your mental equilibrium, even in very stressful situations, and also of your psychological equilibrium as your bodily reactions calm down. Notice in the figure above that, unlike the path of stress reaction, the stress response does not generate more stress; it does not feedback more stress arrows into the person. You respond and then it is finished. You move on. Responding to stress requires moment-to-moment awareness, taking each moment as it comes, trusting in your ability to come up with new ways of seeing and responding in every moment. You will be charting new territory each time you encounter stress in this way. As the very least you will have all your resources at your disposal, and you will have the freedom to be creative.
                        </p>

                        <p>
                            <!-- img --><img src="../img/week5/persistence.png" alt="Calvin and Hobbes cartoon depicting persistence" class="img-fluid" />

                        </p>
                        <p>

                            Calvin and Hobbes, by Bill Waterson, Warner Books, London
                        </p>



                        <br />






                    </div>
                </div>
            </div>

        </section>

        <section id="week-5-home-practice" class="session-content home-practice-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>
                            Home practice for the week following session 5

                        </h2>
                        <p>
                            <ul>
                                <li>
                                    1. Alternate the sitting meditation with mindful movement or the body scan. Experiment with times of the day that seem to work for you in each day. Be flexible and open minded. If you wish to, record your practice routine and reactions to it on the home practice record form.

                                </li>
                                <li>
                                    2. Bring awareness to moments of reacting, and explore options for responding with greater mindfulness, spaciousness and creativity, in formal meditation practice and in everyday life. Remember that the breath is an anchor, a way to heighten awareness of reactive tendencies, to slow down, and to make more conscious choices.

                                </li>
                                <li>
                                    3. Complete the DIFFICULT COMMUNICATIONS DIARY once a day. Use this as an opportunity to become really aware of and explore your reactions and the results of difficult communications. If you have no difficult communications during the week, either remember some or imagine communications that would fit in with your knowledge or yourself, and explore them.

                                </li>
                            </ul>
                        </p>

                        <p>

                        </p>

                    </div>
                </div>
            </div>


            <div class="container">

                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>Week 5 Practice Documents</h2>
                        <ul>
                            <li>

                                <a href="/LessonAssets/Week5/General Practice log.docx" download>Week 5 General Practice Log</a>
                            </li>

                            <li>

                                <a href="/LessonAssets/Week5/Stressful Communications Diary.docx" download>Stressful Communications Diary</a>
                            </li>

                            <li>

                                <a href="/LessonAssets/Week5/Halfway Review and Self Reflection.docx" download>Halfway Review and Self Reflection</a>
                            </li>


                        </ul>
                    </div>
                </div>




            </div>










        </section>

        <section id="all-day-practice" class="session-content">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>Mindfulness All Day Practice</h2>
                        <p>
                            On Sunday 11th June 2023,  there is an opportunity to attend a guided silent practice day.  It begins at 9.30am and ends at 3.30pm.  We will spend much of the day in silence, as you are guided through meditations and other practices.  As with all practices, as best you can, come along with an open mind, experience the day as it unfolds and reflect on the day afterwards.  This is an opportunity to deepen your mindfulness practice with the support of our group who will be working in the same way.  There will be an opportunity to ask questions and clarify things at the beginning of the day, and time at the end to reflect on your experiences.
                        </p>
                        <p>
                            I will give you the detailed arrangements for the day.  Please bring lunch and drinks. Dress in comfortable layers so that you can adjust for times of feeling warm or cold.  Bring outdoor clothes and boots as there may be an opportunity to do visual meditation and mindful walking outside.
                        </p>
                        <div class="content-bordered-quote">
                            <p>
                                <strong>True Mastery can be gained by letting things go their own way. It can’t be gained by interfering.</strong>
                            </p>

                            <p class="content-bordered-quote-accreditation">
                                Tao Te Ching
                            </p>
                        </div>
                    </div>
                </div>




            </div>
        </section>

    </Authorized>
    <NotAuthorized>
        <section class="d-flex flex-column vh-100 text-white">
            <div class="mx-auto custom-container p-4 text-center">
                <h1 class="display-6">You need to be logged in to access this content</h1>
                <p class="text-white">
                    Please
                    <a href="authentication/login" class="border border-white p-1">log in</a>
                    or return to the <a href="/" aria-label="Go back to the landing page" class="border border-white p-1">home page.</a>
                </p>
                @*  <LoginDisplay></LoginDisplay> *@
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>

@code {

    private IJSObjectReference? _jsModule;

    private string _hideMessage = "Hide Additional Notes";
    private string _showMessage = "Show Additional Notes";
    private string _buttonText = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        _jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/main.js");

        _buttonText = _showMessage;
    }

    async Task GoToTop()
    {
        await _jsModule.InvokeVoidAsync("ScrollToTop");
    }

    async Task ToggleShow()
    {
        await _jsModule.InvokeVoidAsync("ToggleShow");

        if (_buttonText == _showMessage)
            _buttonText = _hideMessage;
        else
        {
            _buttonText = _showMessage;
        }
    }
}
